<template name="slideshow">
  <div class="slideshow-wrapper">
    <div class="preloader"></div>
    <ul data-orbit>
      <li>
        <img src="http://placehold.it/1000x400&text=[ img 1 ]" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="http://placehold.it/1000x400&text=[ img 2 ]" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="http://placehold.it/1000x400&text=[ img 3 ]" />
        <div class="orbit-caption">...</div>
      </li>
    </ul>
  </div>
</template>

