[submodule "packages/belt-bootstrap/bootstrap"]
	path = packages/belt-bootstrap/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "packages/belt-font-awesome/font-awesome"]
	path = packages/belt-font-awesome/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "packages/belt-form2js/form2js"]
	path = packages/belt-form2js/form2js
	url = https://github.com/maxatwork/form2js.git
[submodule "contrib/HTML5-History-API"]
	path = contrib/HTML5-History-API
	url = https://github.com/tmeasday/meteor-HTML5-History-API.git
[submodule "contrib/marked"]
	path = contrib/marked
	url = https://github.com/chuangbo/meteor-marked.git
[submodule "contrib/roles"]
	path = contrib/roles
	url = https://github.com/alanning/meteor-roles.git
[submodule "contrib/moment"]
	path = contrib/moment
	url = https://github.com/possibilities/meteor-moment.git
[submodule "contrib/page-js-ie-support"]
	path = contrib/page-js-ie-support
	url = https://github.com/tmeasday/meteor-page-js-ie-support.git
[submodule "contrib/router"]
	path = contrib/router
	url = https://github.com/tmeasday/meteor-router.git
[submodule "contrib/scss"]
	path = contrib/scss
	url = https://github.com/fourseven/meteor-scss.git
