
<template name="contact">
  <div class="row">
    <div class="col col-lg-12">
      <div class="row">
        <div class="col col-lg-7">
          <h2>Get In Touch</h2>
          <p>{{Site.contactText}}</p>
          <form id="contact-form" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Name<sup>*</sup></label>
              <div class="controls">
                <input autofocus type="text" name="name">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Email<sup>*</sup></label>
              <div class="controls">
                <input type="text" name="email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Phone (optional)</label>
              <div class="controls">
                <input type="tel" name="phone">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Comment<sup>*</sup></label>
              <div class="controls">
                <textarea rows="4" name="comment"></textarea><span class="help-inline">Please write a comment</span>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="submit" value="Send Message" class="btn">
              </div>
            </div>
          </form>
        </div>
        {{#if Site.showAddress}}
          <div class="col col-lg-5">
            <h2>Find us</h2>
            <!-- GOOGLE MAP-->
            <div id="contact-map" style="height:450px;width:100%;"></div>
            <div itemscope="itemscope" itemtype="http://schema.org/Restaurant">
              <strong itemprop="name">{{Site.title}}</strong>
              <br>
              <address itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetaddress">{{Site.address.address2}} {{Site.address.address1}}</span>
                <br>
                {{#if Site.address.address2}}
                  <span itemprop="streetaddress">{{Site.address.address2}}</span>
                  <br>
                {{/if}}
                <span itemprop="addressLocality">{{Site.address.city}},</span>
                <span itemprop="addressRegion">{{Site.address.state}}</span>
                <span itemprop="postalCode">{{Site.address.zipcode}}</span>
                <br>
                <abbr title="Phone">P:</abbr>
                <span itemprop="telephone">{{Site.phone}}</span>
                <br>
                {{#if Site.fax}}
                  <abbr title="Fax">F:</abbr>
                  <span itemprop="fax">{{Site.fax}}</span>
                {{/if}}
              </address>
              <div></div>
              <address>
                <strong>{{Site.contactName}}</strong>
                <br>
                <a href="{{Site.contactEmail}}">{{Site.contactEmail}}</a>
              </address>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row"></div>
</template>
