<template name="home">
  <div id="featured">
    <!--<img src="/img/pages/corn.jpg" alt="">-->
  </div>

  <div class="row">

    <div class="col col-lg-4">
      <h3>Welcome</h3>
      {{{truncate welcomeMessage.body 400 "..."}}}
      <br>
      <br>
      <a class="btn btn-callout" href="/about">Read More</a>
    </div>

    <div class="col col-lg-4">
      <h3>Our Plans, Projects &amp; Products</h3>
      <p>
        Where you can find plans and projects, many that we have built and are using here on the farm, such as building your own High Tunnel for increasing your growing season. Building a Chicken Plucker to help in the processing
of your fresh chickens, or a Rotating Com-Poster for creating that organic matter to put back into the soil we’ll share what we have experienced and look forward to hearing about your experiences as well.
      </p>
      <a class="btn btn-callout" href="/products">Read More</a>
    </div>

    <div class="col col-lg-4">
      <h3>Latest News</h3>
      <p>
        Where we share the latest news and activities of the farm, anything from a step by step recipe on how to make chicken pot pie, to setting up drip irrigation for the garden, or just the joy of a beautiful sunset and taking pleasure in the life around us.
      </p>
      <a class="btn btn-callout" href="/blog">Read More</a>
    </div>

  </div>
</template>
