/* Toolbar */

#belt-richtext-toolbar {
  margin: 0;
  padding: 0;
  display: block;
}

#belt-richtext-toolbar::after {
  clear: both;
  display: table;
  content: "";
}

#belt-richtext-toolbar > li {
  float: left;
  display: list-item;
  list-style: none;
  margin: 0 5px 10px 0;
}

#belt-richtext-toolbar .btn {
  background-color: transparent;
  border-color: none;
  background-color: #f9f9f9;
  color: #666;
}

#belt-richtext-toolbar .btn:hover {
  background-color: transparent;
  background-color: #f9f9f9;
  border-color: none;
  color: black;
}

#belt-richtext-toolbar .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-color: #f9f9f9;
  border-color: none;
  color: red;
}

#belt-richtext-toolbar .btn.wysihtml5-command-active, 
#belt-richtext-toolbar .btn.wysihtml5-action-active {
  color: red;
}

#wysihtml5-commands-disabled .dropdown-menu {
  display: none !important;
}
