<template name="layout">

  <!-- Wrapper -->
  <div id="wrap">

    <!-- Top -->
    <div class="container">
      <div class="top">
        <h1 class="logo">
          <a href="/">
            Apollo
          </a>
        </h1>
      </div>
    </div>

    {{> nav}}

    <!-- Notifictaions -->
    <div class="notification">
      {{> beltFlashes}}
    </div>

    <div class="container">
      <!-- Page Contents -->
      {{renderPage}}
    </div>

  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <p>&copy; 2013 MeteorBelt.com. All rights reserved.</p>
    </div>
  </footer>

</template>
