<template name="nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Logo -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Nav items -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <!-- Left Nav Section -->
        <ul class="nav navbar-nav">
          <li class="{{isActiveExact 'home'}}"><a href="{{homePath}}">Home</a></li>
          <li class="{{isActive 'postList'}}"><a href="{{postListPath}}">Blog</a></li>
          <li class="{{isActive 'productList'}}"><a href="{{productListPath}}">Products</a></li>
          <li class="{{isActive 'pageDetail' 'about'}}"><a href="{{pageDetailPath 'about'}}">About</a></li>
          <li class="{{isActive 'contact'}}"><a href="{{contactPath}}">Contact</a></li>
          {{#if isInRole 'admin'}}
            <li class="{{isActive 'adminHome'}}"><a href="{{adminHomePath}}">Admin</a></li>
          {{/if}}
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
         {{> accountLoginButtons}}
        </ul>

      </div>
    </div>
  </div>
</template>
