<template name="nav">
  <div class="navbar contain-to-grid">

    <nav class="top-bar">

      <!-- Logo -->
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <!-- Nav items -->
      <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">

          <li class="{{isActiveExact 'home'}}"><a href="/admin">Admin</a></li>
          <li class="divider"></li>
          <li class="{{isActiveExact 'home'}}"><a href="{{homePath}}">Home</a></li>
          <li class="{{isActive 'postList'}}"><a href="{{postListPath}}">Blog</a></li>
          <li class="{{isActive 'productList'}}"><a href="{{productListPath}}">Products</a></li>
          <li class="{{isActive 'pageDetail' 'about'}}"><a href="{{pageDetailPath 'about'}}">About</a></li>
          <li class="{{isActive 'contact'}}"><a href="{{contactPath}}">Contact</a></li>
          {{#if isInRole 'admin'}}
            <li class="{{isActive 'adminHome'}}"><a href="{{adminHomePath}}">Admin</a></li>
          {{/if}}
          <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
         {{> accountLoginButtons}}
        </ul>

      </section>

    </nav>
    <!-- End Top Bar -->

  </div>
</template>
