<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Nav items -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <!-- Left Nav Section -->
      <ul class="nav navbar-nav">
        <li ng-class="{ active: $state.includes('home') }"><a ui-sref="home">Home</a></li>
        <li ng-class="{ active: $state.includes('contact') }"><a ui-sref="contact">Contact</a></li>
        <li ng-class="{ active: $state.includes('route1') }"><a ui-sref="route1">Route 1</a></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right"></ul>

    </div>
  </div>
</div>

