<template name="accountLoginButtons">
  <ul class="nav navbar-nav pull-right">
    {{#if currentUser}}
      <li class="dropdown pull-right">
        <a class="dropdown-toggle" id="account-nav" data-toggle="dropdown" data-target="#" href="/account">
          <img src="{{avatarUrl}}"> {{displayName}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/account/profile">Account</a></li>
          <li class="divider"></li>
          <li><a class="logout" tabindex="-1" href="#">Logout</a></li>
        </ul>
      </li>
    {{else}}
      <li><a href="/account/signup">Sign Up</a></li>
      <li><a href="/account/login">Login</a></li>
    {{/if}}
  </ul>
</template>
